header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}
#mobile {
    display: none;
}
#desktop {
    display: inline;
}
header {
    color: #FFFFFF;
    background: #000033 url("images/sunset.jpg") no-repeat right;
    text-align: center;
    padding-top: 15px;
    height: 60px;
}
nav {
    float: left;
    padding: 20px;
    width: 160px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
nav a:visited {
    color: #344873;
}
nav a:link {
    color: #000033;
}
nav a:hover {
    color: white;
}
body {
    background: #4F6D93 linear-gradient(#FFFFFF, #4F6D93);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding: 1px 20px 20px 30px;
    display: block;
    background: white;
    margin-left: 190px;
}
#wrapper {
    margin: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
    background-color: #90C7E3;
}
#homehero {
    height: 300px;
    background-image: url("images/coasthero.jpg");
    background-size: 100% 100%;
    margin-left: 190px;
}
#yurthero {
    height: 300px;
    background-image: url("images/yurthero.jpg");
    background-size: 100% 100%;
    margin-left: 190px;
}
#trailhero {
    height: 300px;
    background-image: url("images/trailhero.jpg");
    background-size: 100% 100%;
    margin-left: 190px;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}
h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px grey;
}
h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}
main ul {
    list-style-image: url("images/marker.gif");
}
.resort {
    color: #5C7FA3;
    font-weight: bold;
}
#contact {
    font-size: 90%;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    background: white;
    margin-left: 190px;
}
table {
    border: 1px solid #3399CC;
    width: 80%;
    border-spacing: 0;
}
td, th {
    padding: 5px;
    border: 1px solid #3399CC;
}
td {
    text-align: center;
}
.text {
    text-align: left;
}
tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}
@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: .5em;
    }
    nav li {
        display: inline;
        padding: .25em .75em;
    }
    #yurthero {
        margin-left: 0;
        height: 200px;
    }
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
    #homehero {
        margin-left: 0;
        height: 200px;
    }
    footer {
        margin-left: 0;
    }
}
@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    main {
        padding: 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    nav a {
        display: block;
    }
    #yurthero {
        background-image: none;
        height: 0;
    }
    #trailhero {
        background-image: none;
        height: 0;
    }
    #homehero {
        background-image: none;
        height: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
}