header {
    background-color: #000033;
    color: #FFFFFF;
    background-image: url("images/sunset.jpg");
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 15px;
    height: 60px;
}
nav {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
}
body {
    background: linear-gradient(#FFFFFF, #90C7E3);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}
#wrapper {
    margin: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
    background-color: white;
}
#homehero {
    height: 300px;
    background-image: url("images/coasthero.jpg");
    background-size: 100% 100%;
}
#yurthero {
    height: 300px;
    background-image: url("images/yurthero.jpg");
    background-size: 100% 100%;
}
#trailhero {
    height: 300px;
    background-image: url("images/trailhero.jpg");
    background-size: 100% 100%;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}
h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px grey;
}
h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}
ul {
    list-style-image: url("images/marker.gif");
}
.resort {
    color: #5C7FA3;
    font-weight: bold;
}
#contact {
    font-size: 90%;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
}
